<!-- templates/tables/table2.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Tabla 2</title>
</head>
<body>
    <h1>Tabla 2</h1>
    <table>
        <tr>
            <td>{{ elements[0][0] }}</td>
            <td>{{ elements[0][1] }}</td>
            <!-- Agrega más celdas según sea necesario -->
        </tr>
    </table>
    <form action="/table2/save_link" method="post">
        <label for="link">Enlace de YouTube para Celda 1:</label>
        <input type="text" name="link" id="link">
        <input type="submit" value="Guardar">
    </form>
</body>
</html>